<%- include("header") %>

    <%- include("nav") %>


<div class="profile_edit_container">
    <form action="/settings/profile" method="POST">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Enter your name" required value="<%= profile.name %>">
              
      <label for="bio">Bio:</label>
      <textarea id="bio" name="bio" placeholder="Enter your bio"><%= profile.bio %></textarea>
              
      <button type="submit">Update Profile</button>
    </form>
  </div>

  </main>

<%- include("footer") %>