<h2>Search Pagina</h2>

<% filteredTweets.forEach(tweet => { %>
    <article class="post">
        <div class="post_profile-image">
            <img src="/images/avatars/<%= tweet.handle %>.png" alt="java-logo">
        </div>
            <div class="post_body">
                <div class="post_header">
                    <div class="post_header-text">
                        <h3><%= tweet.name %>
                            <span class="header-icon-section">
                                <span class="material-icons post_badge">verified</span><a href="/<%= tweet.handle %>">@<%= tweet.handle %></a>
                            </span>
                        </h3>
                    </div>

                    <div class="post_header-description">
                        <%= tweet.text %>
                    </div>
                    
                </div>
                <div class="post_footer">

                    

                </div>

            </div>

        </article>
<% }) %>